[submodule "dependencies/all/tinyxml2"]
	path = dependencies/all/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "dependencies/all/stb-image"]
	path = dependencies/all/stb-image
	url = https://github.com/nothings/stb
