<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity
    Name="Sonic2"
    Publisher="CN=wamwo"
    Version="1.0.8.0" />
  <mp:PhoneIdentity PhoneProductId="a7f38b9a-d903-4b63-bdb3-cfc6387ef9f3" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>Sonic the Hedgehog 2</DisplayName>
    <PublisherDisplayName>SEGA</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Sonic2Decomp_UWP.App">
      <uap:VisualElements DisplayName="Sonic the Hedgehog 2" Description="Dr. Eggman is back to his old tricks, trying to find the seven Chaos Emeralds that will enable him to complete his ultimate weapon, the Death Egg. Only the triple threat of Sonic, Tails, and Knuckles can defeat him in this remaster from the team behind Sonic Mania!"
        Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" BackgroundColor="transparent">
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="#000000"/>
        <uap:DefaultTile Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png" Wide310x150Logo="Assets\WideTile.png"/>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscapeFlipped"/>
          <uap:Rotation Preference="landscape"/>
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>